---
import NotesLayout from "@/layouts/notes-layout.astro";
import NoteItem from "@/components/note-item";
import { getCollection } from "astro:content";

const notes = (await getCollection("notes")).sort((a, b) => {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<NotesLayout active="date">
	<div>
		{notes.map((note) => <NoteItem note={note} />)}
	</div>
</NotesLayout>
