---
import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header/index.astro";
import type { Post } from "@/types";
import NoteItem from "@/components/note-item";

const notes = Object.values(
	import.meta.glob("@/pages/notes/**/*.md", { eager: true }),
).sort(
	(a: any, b: any) =>
		new Date(b.frontmatter.date).getTime() -
		new Date(a.frontmatter.date).getTime(),
) as Post[];
---

<BaseLayout title="THX">
	<div class="mx-auto flex max-w-prose flex-col gap-12">
		<section class="pt-16">
			<Header
				title="THX's Notes"
				description="Notes from learning random stuff"
			/>
		</section>
		<section>
			<h2 class="mb-2 text-2xl font-bold">All Notes</h2>
			{notes.map((note) => <NoteItem note={note} />)}
		</section>
	</div>
</BaseLayout>
