---
import NotesLayout from "@/layouts/notes-layout.astro";
import NotesSearch from "@/components/notes/search";
import { getCollection } from "astro:content";

const notes = (await getCollection("notes")).sort((a, b) => {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<NotesLayout>
	<div class="mb-6 px-4">
		<NotesSearch notes={notes} client:load />
	</div>
</NotesLayout>
