---
import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header/index.astro";
import PostItem from "@/components/post-item";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<BaseLayout title="THX">
	<div class="mx-auto flex max-w-prose flex-col gap-12">
		<section class="pt-16">
			<Header
				title="THX's Posts"
				description="Random things I think about"
			/>
		</section>
		<section>
			<h2 class="mb-2 text-2xl font-bold">All Posts</h2>
			{posts.map((post) => <PostItem post={post} />)}
		</section>
	</div>
</BaseLayout>
