---
import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header/index.astro";
import PostItem from "@/components/post-item";
import NoteItem from "@/components/note-item";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

const notes = (await getCollection("notes")).sort((a, b) => {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<BaseLayout title="THX">
	<div class="mx-auto flex max-w-prose flex-col gap-12">
		<section class="px-4 pt-16">
			<Header
				title="THX's Landing"
				description="A collection of random thoughts and notes"
			/>
		</section>
		<section>
			<div class="flex flex-row items-baseline justify-start gap-4 px-4">
				<h2 class="mb-2 text-2xl font-bold">Recent Posts</h2>
				<p class="text-muted-foreground text-sm hover:underline">
					<a href="/blog">More</a>
				</p>
			</div>
			{posts.map((post) => <PostItem post={post} />)}
		</section>
		<section>
			<div class="flex flex-row items-baseline justify-start gap-4 px-4">
				<h2 class="mb-2 text-2xl font-bold">Recent Notes</h2>
				<p class="text-muted-foreground text-sm hover:underline">
					<a href="/notes">More</a>
				</p>
			</div>
			{notes.map((note) => <NoteItem note={note} />)}
		</section>
	</div>
</BaseLayout>
