---
import BaseLayout from "@/layouts/base-layout.astro";
import { ModeToggle } from "@/components/mode-toggle";
import { formatDate } from "@/lib/format-date";

const posts = Object.values(
	import.meta.glob("./blog/**/*.md", { eager: true }),
).sort(
	(a: any, b: any) =>
		new Date(b.frontmatter.date).getTime() -
		new Date(a.frontmatter.date).getTime(),
);
---

<BaseLayout title="THX">
	<div class="mx-auto flex max-w-prose flex-col gap-12">
		<section class="pt-16">
			<div class="flex flex-row justify-between">
				<h1
					class="mb-4 text-4xl font-extrabold tracking-wide"
					transition:name="site-title"
				>
					THX's Blog
				</h1>
				<div transition:name="mode-toggle">
					<ModeToggle client:load />
				</div>
			</div>
			<p class="text-muted-foreground">
				A blog about random thoughts I have
			</p>
		</section>
		<section>
			<h2 class="mb-2 text-2xl font-bold">Posts</h2>
			{
				posts.map((post: any) => (
					<div class="flex flex-row items-baseline gap-4 py-2">
						<time
							datetime={formatDate(post.frontmatter.date)}
							class="text-muted-foreground font-mono"
						>
							{formatDate(post.frontmatter.date)}
						</time>
						<a
							href={post.url}
							class="font-semibold hover:underline"
						>
							{post.frontmatter.title}
						</a>
					</div>
				))
			}
		</section>
	</div>
</BaseLayout>
