---
import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header/index.astro";
import PostItem from "@/components/post-item";
import type { Post } from "@/types";

const posts = Object.values(
	import.meta.glob("./blog/**/*.md", { eager: true }),
).sort(
	(a: any, b: any) =>
		new Date(b.frontmatter.date).getTime() -
		new Date(a.frontmatter.date).getTime(),
) as Post[];

const notes = Object.values(
	import.meta.glob("./notes/**/*.md", { eager: true }),
).sort(
	(a: any, b: any) =>
		new Date(b.frontmatter.date).getTime() -
		new Date(a.frontmatter.date).getTime(),
) as Post[];
---

<BaseLayout title="THX">
	<div class="mx-auto flex max-w-prose flex-col gap-12">
		<section class="pt-16">
			<Header
				title="THX's Landing"
				description="A collection of random thoughts and notes"
			/>
		</section>
		<section>
			<div class="flex flex-row items-baseline justify-start gap-4">
				<h2 class="mb-2 text-2xl font-bold">Recent Posts</h2>
				<p class="text-muted-foreground text-sm hover:underline">
					<a href="/blog">View more</a>
				</p>
			</div>

			{posts.map((post: Post) => <PostItem post={post} />)}
		</section>
		<section>
			<div class="flex flex-row items-baseline justify-start gap-4">
				<h2 class="mb-2 text-2xl font-bold">Recent Notes</h2>
				<p class="text-muted-foreground text-sm hover:underline">
					<a href="/notes">View more</a>
				</p>
			</div>
			{notes.map((post: Post) => <PostItem post={post} />)}
		</section>
	</div>
</BaseLayout>
