---
import { ModeToggle } from "../mode-toggle";

const { title, description } = Astro.props;
---

<div class="flex flex-row justify-between">
	<a href="/">
		<h1
			class="mb-4 text-4xl font-extrabold tracking-wide"
			transition:name="site-title"
		>
			{title ? title : "THX's Site"}
		</h1>
	</a>
	<div transition:name="mode-toggle">
		<ModeToggle client:load />
	</div>
</div>
{description && <p class="text-muted-foreground">{description}</p>}
