---
const links = [
	{ href: "/", label: "Home" },
	{ href: "/blog", label: "Blog" },
	{ href: "/projects", label: "Projects" },
	{ href: "/about", label: "About" },
];

const currentPath = Astro.url.pathname;
const basePath = `/${currentPath.split("/")[1]}`;
---

<nav
	class="flex w-full flex-row items-center justify-center border-t border-b border-gray-500/20 px-8 py-4"
	transition:name="nav"
>
	<ul class="flex w-full items-center justify-between sm:w-sm">
		{
			links.map((link) => (
				<li>
					<a
						href={link.href}
						class={`${basePath === link.href ? "font-bold opacity-100" : "font-light opacity-75"} hover:underline`}
					>
						{link.label}
					</a>
				</li>
			))
		}
	</ul>
</nav>
