---
import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header/index.astro";
---

<BaseLayout title="THX">
	<div class="mx-auto flex max-w-prose flex-col gap-12">
		<section class="px-4 pt-16">
			<Header
				title="THX's Notes"
				description="Notes from learning random stuff"
			/>
		</section>
		<section>
			<div class="mb-4 px-4">
				<h2 class="text-2xl font-bold">All Notes</h2>
			</div>

			<slot />
		</section>
	</div>
</BaseLayout>
